:root {
    /*vd - very dark*/
    --vddesblue: hsl(238, 29%, 16%);
    --softred: hsl(14,88%, 65%);
    --softviolet: hsl(273, 75%, 66%);
    --softblue: hsl(14, 88%, 65%);
    --vdgrayblue: hsl(237, 12%, 33%);
    --darkgrayblue: hsl(240, 6%, 50%);
    --lightgrayblue: hsl(240, 5%, 91%);
    font-size: 12px;
}

@font-face {
    font-family: KumbhSansRegular;
    src: url('./fonts/KumbhSans-Regular.ttf');
}
@font-face {
    font-family: KumbhSansBold;
    src: url('./fonts/KumbhSans-Bold.ttf');
}


.wrapper {
    max-width: 24rem;
}

img.illustration {
    height: 20rem;
    width: 20rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}