:root {
    /*vd - very dark*/
    --vddesblue: hsl(238, 29%, 16%);
    --softred: hsl(14,88%, 65%);
    --softviolet: hsl(273, 75%, 66%);
    --softblue: hsl(240, 73%, 65%);
    --vdgrayblue: hsl(237, 12%, 33%);
    --darkgrayblue: hsl(240, 6%, 50%);
    --lightgrayblue: hsl(240, 5%, 91%);
    font-size: 12px;
}

@font-face {
    font-family: KumbhSansRegular;
    src: url('./fonts/KumbhSans-Regular.ttf');
}
@font-face {
    font-family: KumbhSansBold;
    src: url('./fonts/KumbhSans-Bold.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(var(--softviolet), var(--softblue));
}
hr {
    border: 0.1rem solid var(--lightgrayblue);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    
    max-width: 30rem;
}

.images {
    position: relative;
    z-index: 10;
    width: 85%;
    left: 2rem;
}
.images .illustration {
    vertical-align: bottom;
}
.images .illustration-shadow {
    width: 100%;
    top: 10rem;
    left: 0;
    position:absolute;   

}

.information {
    background-color: white;
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 80px;
    margin-top: -95px;
}
.information h3 {
    font-weight: 400;
    font-size: 3rem;
    font-family: KumbhSansBold, sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.information .question {
    font-size: 1.15rem;
    font-weight: 400;
    font-family: KumbhSansRegular, sans-serif;
    color: var(--vdgrayblue);
    padding-top: 0.85rem;
    padding-bottom: 1rem;
}
.information .question:hover {
    cursor: pointer;
}
.information .question-one:focus ~ .answer-one {
    display: block;
}

.information .answer {
    display: none;
    font-weight: 400;
    font-family: KumbhSansRegular;
    color: var(--darkgrayblue);
    padding-bottom: 1rem;
}




.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: white; 
}